body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color:#5D26C1;

}
/*----------clear button-------*/
.clear {
    width:20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
}
.clear i{
    font-size: 30px;
    color: #FFF;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
}

/*--------date-------*/
#date{
    position: absolute;
    bottom: 0 auto;
    right: 10px;
    color: #FFF;
    font-size:25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


/*-------todo list content-----------*/
.todo-list {
    width:400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.todo-list header {
    text-align: center;
    border-top: 4em solid #59C173;
    border-bottom: 2em solid white;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    margin: 0;
    padding: 1em 0;
    background-color: whitesmoke;
    color: rgb(rgb(250, 163, 163), rgb(220, 245, 220), rgb(198, 198, 248))

}
.todo-list footer {
    margin: 0;
    padding: 0.7em 0;
    background-color:#ffff ;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
.todo-list .todo input[type=checkbox]{
    position: absolute;
    width: 0;
    height: 0 ;
    visibility: hidden;
}
.todo-list .todo label{
   position: relative;
   display: block;
   padding: 0.75em 1em;
   cursor: pointer;
   background-color: #fff;
   transition: 0.3s ease-in-out;
}
.todo-list .todo label:hover{
    transform: translatex(-1em);
}
.todo-list .todo label::before {
    content:'';
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #cccccc;
    border-radius: 30%;
    vertical-align: middle;
    margin-right: 0.5em;
}
.todo-list .todo label::after{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background-color:#FC5C7D;
    transition: 0.3s ease-in-out;

}
.todo-list .todo label:hover::after{
    width: 5px;
}
.todo-list .todo label .fa-check{
    position: absolute;
    left:0.7em;
    top:0.25em;
    font-size: 1.7em;
    color: red;
    opacity:0;
    transition: 0.3s ease-in-out;
}
.todo-list .todo input[type=checkbox]:checked + label .fa-check {
    opacity: 1;
}
.todo-list .todo label .label{
    position: realative;
    transition: 0.3s ease-in-out;
}
.todo-list .todo input[type=checkbox]:checked + label .label{
    color: #FFFDE4;
}
.todo-list .todo list .label::after{
    content:'';
    position: absolute;
    left: 0 auto;
    right: 100%;
    top: 50%;
    height: 1px;
    background-color: #aaaaaa;
    transition: 0.3s ease-in-out;
}
.todo-list .t0do input[type=checkbox]:checked + label .label::after{
    right: 0 auto;
}
@media (max-width: 500px) {
    .main{
      margin: auto;
      width: 100%;
    }
}
/*-----------add new todo list.......*/

.add-to-do input{
    position: absolute;
    left: 50px;
    height: 35px;
    width: 310px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-left:10px;
}
